# Bot configuration
# Comments will automatically be excluded

# Teamspeak
ts3Host=77.777.777.77
ts3Username=YourQueryUser
ts3Password=YourQueryPassword
ts3Nickname=TS3Bot

#MySql
dbHost=localhost
dbName=yourDatabase
dbUser=yourUser
dbPassword=yourPassword

# Optional systems can be deactivated with 0 and activated with 1 or higher IDs
welcomeMessage=1
afkChannelID=1
infoChannelID=2